<html>
  <body>
    <h4  style="color:#51B5B1;">Product Specifications</h4>
    <ul>
      <li>
        <%=product.name%> <br>
      </li>
      <li>
        <%=product.description%><br>
      </li>
    </ul>
  </body>
</html>