<html>
  <body>
    <h4  style="color:#51B5B1;">User Details</h4>
    <ul>
      <li>
        <%=user.name%> <br>
      </li>
      <li>
        <%=user.email%><br>
      </li>
    </ul>
  </body>
</html>